#file-panel-base-grid {
    padding-top: 10px;
    padding-bottom: 10px;
}

#file-tree scrolledwindow {
    padding-top: 10px;
    padding-bottom: 10px;
}

.workspace-box {
    border-radius: 5px;
    margin: 5px 5px 0px 5px;
}
