CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
.cache/clangd/index
*.gresource
CloudForest
*.exe
*.dll
*.so
*.o
.vscode
.ninja_deps
.ninja_log
build.ninja
.settings