#EditAreaBaseGrid {
    background-color: rgba(15, 15, 20, 0.6);
    color: white;
}
#EditAreaBaseGrid button {
    background-image: none;
}
#EditAreaBaseGrid textview,
#EditAreaBaseGrid textview text {
    background-color: transparent;
}

#EditAreaBaseGrid {
    border-color: transparent;
}

#EAH {
    padding: 5px;
}

#TextArea {
    color: white;
    font-family: monospace;
    caret-color: white;
}

#LineNoArea {
    border-right: solid 3px red;
    color: cyan;
    font-family: monospace;
}

#EditAreaBaseGrid button {
    color: white;
    border: none;
    background-color: transparent;
}

#EditAreaBaseGrid button:hover {
    border: rgba(255, 0, 0, 0.6) solid 1px;
}

.SwitcherBaseBox {
    background-image: none;
    background-color: black;
}

.SwitcherBaseBox:hover {
    border: deepskyblue 1px solid;
}

.SwitcherButtonSaved {
    color: white;
    border: none;
    background-image: none;
    background-color: transparent;
}

.SwitcherButtonUnsaved {
    color: red;
    border: none;
    background-image: none;
    background-color: transparent;
}

.SwitcherCloseButton {
    color: white;
    border: none;
    background-image: none;
    background-color: transparent;
}

.SwitcherCloseButton:hover {
    color: red;
    background-image: none;
    background-color: transparent;
}

