#FileTree button:hover {
    border: solid 1px navajowhite;
    background-color: transparent;
}

#FileTree button {
    border: solid 1px transparent;
    background-image: none;
    background-color: transparent;
    font-family: sans-serif;
}

#FilePanelBaseGrid {
    background-color: rgba(50, 50, 50, 0.4);
}

#FileTree scrolledwindow {
    background-image: none;
}

.FolderButton {
    border: none;
    color: orange;
}

.FileButton {
    border: none;
    color: wheat;
}

.rootfolder {
    background-color: rgba(0, 0, 0, 0.2);
}
