.normalbutton {
    background-image: none;
    background-color: transparent;
    border-width: 2px;
    border-radius: 10px;
    border-color: transparent;
    color: white;
}

.normalbutton:hover {
    background-image: none;
    background-color: transparent;
    border-style: solid;
    border-color: skyblue;
    color: white;
}

.tippopover {
    font-size: 15px;
}

.suggestionpopover {
    font-size: 15px;
}
