.SettingPanel {
    border-radius: 15px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
}

.SettingTabButtonBox button {
    border: transparent;
    background-image: none;
    background-color: transparent;
    border-radius: 15px;
    border: solid 2px transparent;
}

.SettingTabButtonBox button:hover {
    background-image: none;
    border: solid 2px skyblue;
}

.CloseButton {
    color: red;
    font-weight: bolder;
}

#PageName {
    font-size: 25px;
}

#SectionName {
    font-size: 17px;
}
