#base-grid {
    background-color: rgba(15, 15, 20, 0.6);
    color: white;
}
#base-grid button {
    background-image: none;
}

#base-grid textview,
#base-grid textview text {
    background-color: transparent;
}

#base-grid {
    border-color: transparent;
}

#EAH {
    padding: 5px;
}

#textarea {
    color: white;
    font-family: monospace;
    caret-color: white;
}

#line-no-area {
    border-right: solid 3px red;
    color: cyan;
    font-family: monospace;
}

#misc-panel button {
    color: white;
    background-color: transparent;
    border: transparent solid 1px;
}

#misc-panel button:hover {
    border: rgba(255, 0, 0, 0.6) solid 1px;
}

.switcher-base-box {
    background-image: none;
    background-color: black;
}

.switcher-base-box:hover {
    border: deepskyblue 2px solid;
}

.switcher-base-box button {
    border: none;
    background-image: none;
    background-color: transparent;
}

.switcher-button-saved {
    color: white;
    border: none;
}

.switcher-button-unsaved {
    color: red;
    border: none;
    background-image: none;
    background-color: transparent;
}

.switcher-close-button {
    color: white;
    border: none;
    background-image: none;
    background-color: transparent;
}

.switcher-close-button:hover {
    color: red;
    background-image: none;
    background-color: transparent;
}
