.lang-panel {
    border-radius: 10px;
}

.lang-panel button {
    background-image: none;
    background-color: rgb(30, 30, 30);
    border-radius: 5px;
    border: transparent solid 3px;
    margin: 1px;
}

.lang-panel .name-label {
    font-size: 15px;
    border-radius: 5px;
    background-color: rgb(61, 0, 110);
    padding: 5px;
}

.lang-panel .id-label {
    font-size: 12px;
}

.lang-panel .ext-label {
    font-size: 12px;
}

.lang-panel .selected {
    border: rgb(100, 50, 110) solid 3px;
}
