#file-tree button:hover {
    border: solid 1px navajowhite;
    background-color: transparent;
}

#file-tree button {
    border: solid 1px transparent;
    background-image: none;
    background-color: transparent;
    font-family: sans-serif;
}

#file-panel-base-grid {
    background-color: rgba(50, 50, 50, 0.8);
}

#file-tree scrolledwindow {
    background-image: none;
}

.folder-button {
    border: none;
    color: orange;
}

.file-button {
    border: none;
    color: wheat;
}

.ws-box {
    background-color: rgba(40, 40, 40, 1);
}

.file-tree {
    background-color: #2d2d2d;
    padding: 5px;
}

.folder-button {
    color: #8ab4f8;
    background: none;
    border: none;
    /*text-align: left; it is now done with c code in init()*/
    padding: 3px;
}

.folder-button:hover {
    background-color: #3d3d3d;
}

.file-button {
    color: #e0e0e0;
    background: none;
    border: none;
    /*text-align: left; it is now done with c code in init()*/
    padding: 3px;
}

.file-button:hover {
    background-color: #3d3d3d;
}
