.setting-panel {
    border-radius: 15px;
    padding: 5px;
    background-color: rgb(0, 0, 0);
}

.tab-btn-box button {
    border: transparent;
    background-image: none;
    background-color: transparent;
    border-radius: 15px;
    border: solid 2px transparent;
}

.tab-btn:hover {
    border: solid 2px skyblue;
}

.close-btn {
    color: red;
    font-weight: bolder;
}

.close-btn:hover {
    border: solid 2px red;
}

.setting-page {
    margin: 15px 5px;
}

.setting-page .header1 {
    font-size: 30px;
    border-bottom: 2px solid white;
}

.setting-page .header2 {
    font-size: 20px;
    border-bottom: 2px solid white;
}

.setting-page .paragraph {
    font-size: 15px;
    padding: 5px;
}

.setting-page spinbutton {
    background-image: none;
    border: solid 1px azure;
    border-radius: 10px;
    background-color: transparent;
}

.setting-page dropdown {
    background-image: none;
    border: solid 1px azure;
    background-color: transparent;
}

.setting-page button {
    background-image: none;
    background-color: transparent;
}

#page-name {
    font-size: 25px;
}

#section-name {
    font-size: 17px;
}

.toggle-block {
    padding: 5px;
    background-color: rgb(31, 31, 31);
    border-radius: 5px;
}

.toggle-block-name {
    padding: 5px;
    font-size: 15px;
}
