.setting-panel {
    border-radius: 15px;
    padding: 5px;
    background-color: rgb(0, 0, 0);
}

.setting-tab-button-box button {
    border: transparent;
    background-image: none;
    background-color: transparent;
    border-radius: 15px;
    border: solid 2px transparent;
}

.setting-tab-button-box button:hover {
    background-image: none;
    border: solid 2px skyblue;
}

.close-button {
    color: red;
    font-weight: bolder;
}

.setting-page {
    margin: 15px 5px;
}

.setting-page .header1 {
    font-size: 30px;
    border-bottom: 2px solid white;
}

.setting-page .header2 {
    font-size: 20px;
    border-bottom: 2px solid white;
}

.setting-page spinbutton {
    background-image: none;
    border: solid 1px azure;
    border-radius: 10px;
    background-color: transparent;
}

.setting-page dropdown {
    background-image: none;
    border: solid 1px azure;
    background-color: transparent;
}

.setting-page button {
    background-image: none;
    background-color: transparent;
}

#page-name {
    font-size: 25px;
}

#section-name {
    font-size: 17px;
}
