#base-grid {
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
}

#EAH {
    padding: 10px;
}

textview {
    font-size: 17px;
    padding-top: 10px;
}

#textarea {
    padding-left: 10px;
    padding-right: 30px;
}

#line-no-area {
    padding-right: 10px;
}

#misc-panel {
    /*background-color: rgba(0, 0, 0, 0.5);*/
}

#base-grid button {
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.switcher-base-box {
    border-radius: 20px;
    margin: 5px;
}
