#EditAreaBaseGrid {
    background-color: rgba(15, 15, 20, 0.1);
    color: white;
}

#EditAreaBaseGrid textview,
#EditAreaBaseGrid textview text {
    background-color: rgba(15, 15, 20, 0.1);
}

#EditAreaBaseGrid {
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px red;
    border-width: 2px;
    border-style: solid;
}

textview {
    font-size: 17px;
    padding-top: 10px;
}

#TextArea {
    color: white;
    padding-left: 10px;
    padding-right: 30px;
    font-family: monospace;
    caret-color: white;
}

#LineNoArea {
    border-right: solid 3px red;
    padding-right: 10px;
    color: cyan;
    font-family: monospace;
}

#MiscPanel {
    /*background-color: rgba(0, 0, 0, 0.5);*/
}

#EditAreaBaseGrid button {
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border: none;
    background-color: transparent;
}

#EditAreaBaseGrid button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
