#EditAreaBaseGrid,
#TextArea,
#LineNoArea {
    background-color: rgb(15, 15, 20);
}

#EditAreaBaseGrid {
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px red;
    border-width: 2px;
    border-style: solid;
}

#TextArea,
#LineNoArea {
    font-size: 17px;
    padding-top: 10px;
}

#TextArea {
    padding-left: 10px;
    padding-right: 30px;
    font-family: monospace;
}

#LineNoArea {
    border-right: solid 3px red;
    padding-right: 10px;
    color: cyan;
    font-family: monospace;
}

#MiscPanel {
    /*background-color: rgba(0, 0, 0, 0.5);*/
}

#LocationBut,
#OutlineBut,
#ErrorBut,
#LangBut,
#CursorPosBut {
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: transparent;
    border: none;
}

#LocationBut :hover,
#OutlineBut :hover,
#ErrorBut :hover,
#LangBut :hover,
#CursorPosBut :hover {
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
}
