#EditAreaBaseGrid {
    background-color: rgba(15, 15, 20, 0.6);
    color: white;
}
#EditAreaBaseGrid button {
    background-image: none;
}
#EditAreaBaseGrid textview,
#EditAreaBaseGrid textview text {
    background-color: transparent;
}

#EditAreaBaseGrid {
    border-radius: 15px;
    box-shadow: 2px 2px 5px 5px rgba(255, 0, 0, 0.8);
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
}

#EAH {
    padding: 10px;
}

textview {
    font-size: 17px;
    padding-top: 10px;
}

#TextArea {
    color: white;
    padding-left: 10px;
    padding-right: 30px;
    font-family: monospace;
    caret-color: white;
}

#LineNoArea {
    border-right: solid 3px red;
    padding-right: 10px;
    color: cyan;
    font-family: monospace;
}

#MiscPanel {
    /*background-color: rgba(0, 0, 0, 0.5);*/
}

#EditAreaBaseGrid button {
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border: none;
    background-color: transparent;
}

#EditAreaBaseGrid button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
