#FileTree button:hover {
    border: solid 1px navajowhite;
    background-color: transparent;
    color: aliceblue;
}
#FileTree button {
    border: none;
    color: azure;
}
#FilePanelBaseGrid {
    background-color: white;
}
