#FileTree button:hover {
    border: solid 1px navajowhite;
    background-color: transparent;
    color: aliceblue;
}

#FilePanelBaseGrid {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(140, 140, 140, 0.8);
}

#FileTree scrolledwindow {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: none;
}

#FileTree button {
    background-image: none;
    background-color: transparent;
}

.FolderButton {
    border: none;
    color: aquamarine;
}

.FileButton {
    border: none;
    color: chartreuse;
}
