#FileTree button:hover {
    border: solid 1px navajowhite;
    background-color: transparent;
    color: aliceblue;
}

#FileTree button {
    border: solid 1px transparent;
    background-image: none;
    background-color: transparent;
    font-family: sans-serif;
}

#FilePanelBaseGrid {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(100, 100, 100, 0.9);
}

#FileTree scrolledwindow {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: none;
}

.FolderButton {
    border: none;
    color: greenyellow;
}

.FileButton {
    border: none;
    color: rgb(20, 255, 255);
}
