#FileTree button:hover {
    border: solid 1px navajowhite;
    background-color: transparent;
}

#FileTree button {
    border: solid 1px transparent;
    background-image: none;
    background-color: transparent;
    font-family: sans-serif;
}

#FilePanelBaseGrid {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(50, 50, 50, 0.9);
}

#FileTree scrolledwindow {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: none;
}

.FolderButton {
    border: none;
    color: orange;
}

.FileButton {
    border: none;
    color: wheat;
}

.rootfolder {
    background-color: rgba(80, 80, 80, 0.7);
    border-radius: 5px;
    margin: 5px 5px 0px 5px;
}
